@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-brand{
    font-size: 2rem;
    color: black;
    font-family: 'Dancing Script', cursive;
}

.navbar-brand:hover{
    color: black;
}

.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: black !important;
    text-transform: uppercase;
}

.nav-link:hover{
    color: black;
}

nav {
    box-shadow: -2px 13px 11px -12px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 13px 11px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 13px 11px -12px rgba(0,0,0,0.75);
    /* position: absolute; */
}

.bi-cart2 {
    margin-right: 5%;
}

.bi-cart2:hover {
    color: #AB3436;
    cursor: pointer;
}

.btn0{
    height: 40px;
    width: 40%;
    outline: none ;
    border: none;
    background: rgb(248, 26, 92);
    color: white;
    font-weight: 700;
    border-radius: 60px;
}

h1{
    font-weight: 700;

}

.container2{
    background: #AB3436;
    color: #fff;
}


.btn1{
    height: 40px;
    width: 40%;
    outline: none ;
    border: none;
    background: rgb(248, 26, 92);
    color: white;
    font-weight: 700;
    border-radius: 60px;
}

.btn1:hover{
    background: rgb(207, 33, 85);
    transition: 0.5s;
}

.card:hover{
    box-shadow: -3px -2px 20px -4px rgba(0,0,0,0.75);
-webkit-box-shadow: -3px -2px 20px -4px rgba(0,0,0,0.75);
-moz-box-shadow: -3px -2px 20px -4px rgba(0,0,0,0.75);
transition: o.5s;
}


/*Make cake styling*/
#make_cake {
    border-style: solid;
    border-radius: 10px;
    border-color: #fff;
}

#make_cake_submit {
    background-color: #fff;
    border-radius: 5px;
    border-color: #fff;
    color: #AB3436;
}

#make_cake_submit:hover {
    background-color: #70e122;
    border-color: #70e122;
    color: #fff;
}

@media screen and (min-width: 600px) {
    #make_cake {
        width: 500px !important;
    }
}


/*Cart styling*/
.offcanvas button {
    border-radius: 10px;
    border-color: #AB3436;
    color: #AB3436;
}

.offcanvas button:hover {
    border-color: #AB3436;
    background-color: #AB3436;
    color: #fff;
}

/*Footer*/
footer #contact a {
    color: #fff;
}